$app-max-height: 1200px;
$app-max-width: 2044px;
$app-min-height: $app-max-height / 3;
$app-min-width: $app-max-width / 3;

$base-currency-colour: #f7004b;
$button-bg-colour: #ef2e5a;
$button-text-colour: #fff;
$panel-bg-colour: #f5f5f5;
$text-light-grey: #9f9eaa;